body, html {
	padding: 0;
	margin: 0;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper.selected {
	border: 1px dotted black;
	padding: 1px;
}

.element {
	position: relative;
}

.box {
	height: 50px;
	width: 100px;
	border: 1px solid #000000;
	background-color: #f0f0f0;
}

#mouseSelector {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px dotted black;
}
